# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
*.log
*.tmp
.cache
Thumbs.db

# NightingaleNotes-iOS/.build/**
.AppleDouble
.LSOverride
# Thumbnails and Trashes
Icon?
.Trashes
# macOS resource fork files
._*
# macOS Finder settings files
.Spotlight-V100
.fseventsd
# Network storage files
.SMBDeleteFile*
# Xcode build folders
**/.build/**
**.xcodeproj/
**.xcworkspace/
xcuserdata/
