#root {
  margin: 0 auto;
  text-align: center;
}

main {
  width: 100%;
}

.keyboard {
  display: flex;
}

.key {
  width: 50px;
  height: 200px;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #fff;
  margin-right: -8px;
}

.black {
  width: 30px;
  height: 120px;
  background-color: #000;
  position: relative;
  z-index: 1;
  margin-left: -15px;
  left: 8px;
}

.inScale {
  background-color: red;
}

.cls-1 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
